.accaunt{
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    text-align: center;
}
.secondaccaunt{
    color: #575858;
    text-decoration: none;
    background-color: transparent;
    text-align: center;
}
.school{
    text-align: center;
    margin-top:50px;
}
